<phpunit bootstrap='./autoload.php'>
    <testsuites>
        <testsuite name='DataObject'>
            <directory suffix='Test.php'>./src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist='true'>
            <directory suffix='.php'>./../src</directory>
        </whitelist>
    </filter>
</phpunit>